<div class="page-heading">
  <h1>Editing Wiki</h1>
</div>

<%= render 'form' %>
<br>
<div class="collaborator-btn">
  <% if @wiki.user == current_user || current_user.admin? %>
    <%= link_to "Manage collaborators", wiki_collaborators_path(@wiki), class: "btn btn-info btn-md" %>
  <% end %>
</div>

<%= link_to 'Read', @wiki, class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', wikis_path, class: 'btn btn-default btn-sm' %>
<script type="text/javascript">
  var editor = new EpicEditor({basePath: '../../epiceditor'}).load();
</script
