<div class="page-heading">
  <h1>Editing Wiki</h1>
</div>

<%= render 'form' %>
<br>

<%= link_to 'Read', @wiki, class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', wikis_path, class: 'btn btn-default btn-sm' %>
