<div class="page-heading">
  <h1 class="media media-heading">All Wikis</h1>
</div>
<%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>

<%# moved into a partial because it really cluttered the view %>
<%= render partial: 'wikicontainer' %>
