<div class="page-heading">
  <h1 class="media media-heading">All Wikis</h1>
</div>
<%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>

<%# loops through all wikis and renders them out using the _wiki.html.erb as the formatting template for each wiki %>
<%= render @wikis %>
