<h1>New Wiki</h1>

<%= render 'form' %>
<br>
<%= link_to 'Back', wikis_path, class: 'btn btn-default btn-sm' %>
<script src="../../epiceditor/js/epiceditor.min.js">
  var editor = new EpicEditor({basePath: 'public/epiceditor'}).load();
</script>
