<h3>Welcome to Blocpedia!</h3>
<p>Thank you <%= @email %> for signing up for a Blocpedia account.</p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
